<h1> Create a new article </h1>


<form action="/articles" method="post">
  <p> Title: <input name="title" type="text"> </p>
  <p> Content: <input name="content" type="text"> </p>
  <input type="submit" text="Submit">
</form>